<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- <link rel="stylesheet" href="static/style.css">-->
   <link rel="stylesheet" href="{{url_for('static',filename = 'style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--
   <form action="" method="post">
    <input type="text" name="name" id="">
   </form>-->
   <form action="" method="post">
    <input type="text" name="nome" id="" value="{{content[0][1]}}">
    <input type="text" name="email" id="" value="{{content[0][2]}}">
    <input type="hidden" name="id" id="" value="{{content[0][0]}}">
    <input type="submit" name="acao" value="Atualizar!">
   </form>
   {% for cliente in content %}
   <div class="testes">
       
       <p>Nome: {{cliente[1] }}</p>
       <p>Email: {{cliente[2] }}</p>
       <hr>
   </div>
       {% endfor %}
    <script src="{{url_for('static',filename = 'script.js') }}"></script>
</body>
</html>